<div id = "main-container" class="main-container">
	<div class="left-content inline-el">
		<div class="filter-header"> Filters </div>
		<div class="filter"> Filter 1 </div>
		<div class="filter"> Filter 2 </div>
		<div class="filter"> Filter 3 </div>
		<div class="filter"> Filter 4 </div>
		<div class="filter"> Filter 5 </div>
	</div>
	<div class="right-content inline-el">
		<div class="class-header">All Classes</div>
		<div class="count-label">Total <%= count%> classes found</div>
		<div class="class-list-container"></div>
	</div>
</div>